* {
  font-family: 'Neo Sans W01';
  font-weight: 100;
}

body {
  margin: 0px;
}

.wrapper_forside {
  background-image: url(images/forside.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 678px;
}

.wrapper_home {
  background-image: url(images/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 678px;
}

.bg1 {
  background-image: url(images/home_1.jpg);
}

.bg2 {
  background-image: url(images/home_2.jpg);
}

.bg3 {
  background-image: url(images/home_3.jpg);
}

.bg4 {
  background-image: url(images/home_4.jpg);
}

.bg4 {
  background-image: url(images/cabin.jpg);
}

.btn-logo{
  background-image: url(images/Logo.png);
  background-repeat: no-repeat;
  height: 47px;
  width: 48px;
  /* background-position: 0px 12px; */
  position: absolute;
  top: 50%;
  left: 40px;
  margin-top: -58px;
}

.frontmenu {
  background-image: url(images/dot.png);
  background-repeat: repeat-x;
  position: absolute;
  top: 50%;
  padding-top: 14px;
  margin-left: 40px;
  line-height: 25px;
  font-size: 15px;
  text-shadow: 0px 1px #000;
}

.home {
  width: 178px;
}

.frontmenu a {
  display: block;
  text-decoration: none;
  color: white;
}

.frontmenu a:hover	{
	letter-spacing:	-0.07em;
	font-family: 'Neo Sans W01 Bold';
}

#selected {
  font-family: "Neo Sans W01 Bold";
}

.home_details {
  position: absolute;
  top: 50.5%;
  left: 222px;
  width: 340px;
  height: 350px;
  font-style: italic;
  font-size: 14px;
  font-weight: 100;
  line-height: 22px;
  color: white;
  margin-top: -75px;
  padding-top: 20px;
  text-shadow: 0px 1px #000;
}

.home_details h1 {
  padding-bottom: 30px;
  margin: 0px;
  font-size: 38px;
  font-style: normal;
}

.home_details p {
  margin: 0px;
  text-align: justify;
  background-image: url(images/dot.png);
  background-repeat: repeat-x;
  padding-top: 10px;
}

.knapper {
  position: absolute;
  top: 95%;
  left: 222px;
}
