.cabin {
  background-image: url(../images/cabin.jpg);
  top: 20%
}

#cabin_page_position {
  top: 16.5%;
}
.frontmenu_cabin {
  background-image: url(../images/dot.png);
  background-repeat: repeat-x;
  position: absolute;
  top: 15%;
  padding-top: 14px;
  margin-left: 40px;
  line-height: 25px;
  font-size: 15px;
  text-shadow: 0px 1px #000;
  width: 178px;
}

.frontmenu_cabin a {
  display: block;
  text-decoration: none;
  color: white;
}

.frontmenu_cabin a:hover	{
	letter-spacing:	-0.07em;
	font-family: 'Neo Sans W01 Bold';
}

.cabin_details {
  position: absolute;
  top: 16.1%;
  left: 222px;
  width: 200px;
  height: 350px;
  font-style: italic;
  font-size: 14px;
  font-weight: 100;
  line-height: 22px;
  color: white;
  margin-top: -75px;
  padding-top: 20px;
  text-shadow: 0px 1px #000;
}

.cabin_details h1 {
  padding-bottom: 30px;
  margin: 0px;
  font-size: 38px;
  font-style: normal;
  background-image: url(../images/dot.png);
  background-repeat: repeat-x;
  background-position: bottom;
}

.cabin_details p {
  margin: 0px;
  text-align: justify;

  background-repeat: repeat-x;
  padding-top: 10px;
}
